@import url(./font.css);
body {font-family:"Noto Sans KR"; color: #737373;}
a {color:#7d7d8e; text-decoration: none;}
.layout-content-body {padding:25px 30px 35px 40px;}
/* 로고 */
.navbar-brand-logo {height:60px;}
.navbar-brand {padding:0;}
/* 메뉴 */
.navbar-default .navbar-header {background:#13b6bc;}
.sidenav-heading {font-size:14px;}
.sidenav-item {font-size:13px;}

/* border관련 */
.border-none {border:0;}

/* 페이지 타이틀 */
.page-title {display:table; margin-bottom:20px; padding-left:5px;}
.page-title h2 {display:table-cell; min-width:250px; padding-right:50px; font-size:25px;}
.page-title p {display:table-cell; padding-left:10px; border-left:solid 1px #ddd; vertical-align:middle;}
@media screen and (max-width:640px) {
	.page-title h2{display: block;}
	.page-title p{display: block; border:0; padding:0;}
}
.page-title.sub {margin-bottom:0;}
.page-title.sub h3 {font-size:16px;}
.page-title.sub h3::before {content:""; display:inline-block; background:#13b6bc; width:4px; height:15px; margin-right:4px; vertical-align:-2px;}


/* 페이지 네비게이션 */
.title-bar-title ul {margin:0; padding:0;}
.title-bar-title ul li {display:inline-block; line-height:1; font-size:12px; vertical-align:bottom; list-style:none;}
.title-bar-title ul li::before {content:">"; display:inline-block; margin-right:4px;}
.title-bar-title ul li:first-child::before {content:"\f015"; font-size:17px; vertical-align:bottom;}
.navbar-default .sidenav-toggler .bar-line.in {background-color:#13b6bc ;}
.navbar .langs {height:60px;}
.navbar-toggleable {border-bottom:solid 1px #eee;}

/* 테이블 타입 */
.table > tbody > tr > td , .table > tbody > tr > th , .table > tfoot > tr > td , .table > tfoot > tr > th , .table > thead > tr > td , .table > thead > tr > th {vertical-align:middle;}
.table > thead > tr > th , .table > tbody > tr > th {font-size:15px;}
.table > tbody > tr > td {font-size:14px;}
.table-left-td td {border-left:solid 1px #e7e7ec;}
.table-left-td td:first-child {border-left:0;}

.table tr:last-child th , .table tr:last-child td {border-bottom:solid 1px #e7e7ec;}

table.type-1 tr th {background:#f5f5f5; min-width:120px; padding-left:10px; font-size:14px; font-weight:normal; vertical-align:middle;}
table.type-1 tr th.table-title {background:#4c4847; color:#fff; text-align:center; font-size:18px;}
table.type-1 tr td {width:90%;}
table.type-1 tr th label , table.type-1 tr td label {font-weight:normal;}
table.type-1 tr td select.domain {display:inline-block; max-width:150px;}
table.type-1 tr td input.domain {display:inline-block; max-width:250px;}
@media screen and (max-width:540px) {table.type-1 tr td input.domain {margin-top:5px;}}
table.type-1 tr td .input-daterange {max-width:300px; margin-bottom:5px;}

.checkbox-board tr td {border-left:solid 1px #e7e7ec;}
.checkbox-board tr th:first-child , .checkbox-board tr td:first-child {width:5%; border-left:0; text-align:center;}
.checkbox-board tr th:nth-child(2) , .checkbox-board tr td:nth-child(2) {border-left:0;}



/* card-header */
.card-header {margin:0 5px;}
.card-header .search-page {position:absolute; left:10px; bottom:5px; margin:0;}




/* 셀렉트 박스 크기 변경 */
.form-control.size-a {width:auto;}
.form-control.size-xxs {width:13%; min-width:160px;}
.form-control.size-xs {width:15%; min-width:200px;}
.form-control.size-s {width:30%; min-width:250px;}
.form-control.size-m {width:50%; min-width:300px;}
.form-control.size-l {width:70%;}
.form-control.size-50 {max-width:50px; margin:0 auto;}
.form-control.size-80 {max-width:80px; margin:0 auto;}
.form-control.size-100 {max-width:100px;}
.form-control.size-200 {max-width:200px;}

.size-xs-1 {width:8.333333%;}
.size-xs-2 {width:16.666667%;}
.size-xs-3 {width:25%;}
.size-xs-4 {width:33.333333%;}
.size-xs-5 {width:41.666667%;}
.size-xs-6 {width:50%;}
.size-xs-7 {width:58.333333%;}
.size-xs-8 {width:66.666667%;}
.size-xs-9 {width:75%;}
.size-xs-10 {width:83.333333%;}
.size-xs-11 {width:91.666667%;}
.size-xs-12 {width:100%;}




/* 컬러 색상 변경 */
.custom-control-primary .custom-control-input:checked ~ .custom-control-indicator {background-color:#13b6bc;}
.custom-control-primary .custom-control-input:active ~ .custom-control-indicator {background-color:#13b6bc;}

.pagination > li > a:focus , .pagination > li > a:hover , .pagination > li > span:focus , .pagination > li > span:hover {background-color:#13b6bc; border-color:#13b6bc;}
.pagination > .active > a , .pagination > .active > a:focus , .pagination > .active > a:hover , .pagination > .active > span , .pagination > .active > span:focus , .pagination > .active > span:hover {background-color:#13b6bc; border-color:#13b6bc;}

/* 버튼 커스텀 추가 */
.bnt-side-10 {padding-right:10px; padding-left:10px;}
.bnt-side-20 {padding-right:20px; padding-left:20px;}
.bnt-side-30 {padding-right:30px; padding-left:30px;}
.btn-basic , .btn-basic:hover , .btn-basic:active , .btn-basic:focus {background:#25c6cb; color:#fff;}

/* 초기화 */
.margin-0 {margin:0;}



















































































































/* color */
.color-blue {color: #007aa9;}

/* height */
.h50 {height:50px;}
