@import url(./font.css);
body {font-family:"Noto Sans KR"; color: #737373;}
a {color:#7d7d8e; text-decoration: none;}
p {margin:0;}
.layout-content-body {padding:25px 30px 35px 40px;}
/* 로고 */
.navbar-brand-logo {height:60px;}
.navbar-brand {padding:0;}
/* 메뉴 */
.navbar-default .navbar-header {background:#13b6bc;}
.sidenav-heading {font-size:14px;}
.sidenav-item {font-size:13px;}

/* border관련 */
.border-none {border:0 !important;}
.border-l-none {border-left:0 !important;}
.border-b-none {border-bottom:0 !important;}
.border-color-gray {border-color:#e7e7ec;}

/* 마진관련 */
.m-0-a {margin:0 auto;}

/* 페이지 타이틀 */
.page-title {display:table; margin-bottom:30px;}
.page-title h2 {display:table-cell; padding-right:15px; font-size:25px; vertical-align:middle;}
.page-title p {display:table-cell; padding-left:10px; font-size:15px; border-left:solid 1px #ddd; vertical-align:middle; }
@media screen and (max-width:640px) {
	.page-title h2{display: block;}
	.page-title p{display: block; border:0; padding:0;}
}
.page-title.sub {margin-bottom:0;}
.page-title.sub h3 {font-size:16px;}
.page-title.sub h3::before {content:""; display:inline-block; background:#13b6bc; width:4px; height:15px; margin-right:4px; vertical-align:-2px;}


/* 페이지 네비게이션 */
.title-bar-title {margin-top:13px;padding-left:0;}
.title-bar-title li {display:inline-block; line-height:1; font-size:12px; vertical-align:middle; list-style:none;}
.title-bar-title li::before {content:">"; display:inline-block; margin-right:4px;}
.title-bar-title li:first-child span {margin-right:4px; font-size:22px; vertical-align:-3px;}
.title-bar-title li:first-child::before {content:"";}
.navbar-default .sidenav-toggler .bar-line.in {background-color:#13b6bc ;}
.navbar .langs {height:60px;}
.navbar-toggleable {border-bottom:solid 1px #eee;}

/* 테이블 타입 */
.table > tbody > tr > td , .table > tbody > tr > th , .table > tfoot > tr > td , .table > tfoot > tr > th , .table > thead > tr > td , .table > thead > tr > th {vertical-align:middle;}
.table > thead > tr > th , .table > tbody > tr > th {font-size:14px;}
.table > tbody > tr > td {font-size:13px;}
.table > tbody > tr > td .icon {font-size:18px;}
.table-color {background:#f9f9f9;}
.table-left-td td {border-left:solid 1px #e7e7ec; border-bottom: solid 1px #e7e7ec;}
.table-left-td td:first-child {border-left:0;}
.table-left-td thead tr th {border-bottom:solid 2px #e7e7ec;}
.table-left-td thead tr th span {display:block; line-height:1; font-size:13px; font-weight:normal;}


/* .table tr:last-child th {border-bottom:solid 1px #e7e7ec;} */
.table tr:last-child td {border-bottom:solid 1px #e7e7ec;}

table.type-1 tr th {background:#f5f5f5; width:170px; min-width:120px; padding:16px 20px; font-size:14px; font-weight:bold; word-break:keep-all; vertical-align:middle;}
table.type-1 tr th.table-title {background:#4c4847; color:#fff; text-align:center; font-size:18px;}
table.type-1 tr td {padding:16px 20px;}
table.type-1 tr th label , table.type-1 tr td label {font-weight:normal;}
table.type-1 tr td select.domain {display:inline-block; max-width:150px;}
table.type-1 tr td input.domain {display:inline-block; max-width:250px;}
@media screen and (max-width:540px) {table.type-1 tr td input.domain {margin-top:5px;}}
table.type-1 tr td .input-daterange {max-width:300px; margin-bottom:5px;}

.checkbox-board tr td {border-left:solid 1px #e7e7ec;}
.checkbox-board tr th:first-child , .checkbox-board tr td:first-child {width:3%; border-left:0; text-align:center;}
.checkbox-board tr th:nth-child(2) , .checkbox-board tr td:nth-child(2) {border-left:0;}

.type-14 {width:100%;}
.type-14 tbody tr th {padding-left:20px; border-right:solid 1px #e7e7ec; font-size:14px;}
.type-14 tbody tr th span {display:block; font-size:12px;}
.type-14 tbody tr td {padding:10px 0 10px 20px; font-size:13px; width:80%}
.type-14 tbody tr td ul {padding:0; list-style:none;}

.type-18 {width:100%; border-left:solid 1px #e7e7ec; border-right:solid 1px #e7e7ec;}
.type-18 tbody tr th {background:#f5f5f5; padding:10px 20px; border-right:solid 1px #e7e7ec; font-size:14px; border-bottom:solid 1px #e7e7ec}
.type-18 tbody tr td {width:80%; padding:10px 20px;font-size:13px;}

.big-category {padding:10px 20px 0;}
.big-category .type-33 th, .big-category .type-33 td{ padding:0;}
.type-33 {width: 100%;}
.type-33 ul li{list-style: none;}
.type-33.header tbody tr th { padding:0;}
.type-33.header tbody tr td { width:300px;}

/* .type-33 tbody tr th {padding:5px 0;} */
.type-33 tbody tr td {width:400px;}

.type-33-setting {padding:10px 0 0;}
.type-33-setting p {font-size: 17px; margin-bottom:20px;}

.type-33-setting ul.radio-list {list-style: none; padding:0;}
.type-33-setting ul.radio-list li {margin-bottom:15px;}

.type-33-setting ul.sub-check-list {list-style: none; padding:0;}
.type-33-setting ul.sub-check-list li {display:table; border:solid 1px #ddd; width:90%; margin:10px auto 0;}
.type-33-setting ul.sub-check-list li div {display: table-cell; padding:0 10px;}
.type-33-setting ul.sub-check-list li div label {float:right; margin-right:10px;}
.type-33-setting ul.sub-check-list li div.num {width:10%; text-align: center; border-right:solid 1px #ddd; padding:5px;}

.type-33-setting .type-33-fixed h4 { font-size:15px; font-weight:bold;}
.type-33-setting .type-33-fixed dl {display:table; margin:5px 0; padding:0 20px;}
.type-33-setting .type-33-fixed dl dt , .type-33-setting .type-33-fixed dl dd {display:table-cell;}
.type-33-setting .type-33-fixed dl dd { padding-left:5px;}



.type-21 {width:100%;}
.type-21 tbody tr td {padding:10px 20px;}
.type-21 tbody tr td {padding:10px 20px;}

.slide-nav {padding:10px 20px;}
.slide-nav ul {list-style:none; padding:0;}
.slide-nav ul.depth-01 ul {padding:0 0 0 15px;}
.slide-nav ul.depth-01 ul li {padding-top:10px;}
.slide-nav ul li {cursor: pointer;}
.slide-nav ul li table td strong {position:relative; margin-right:10px; padding-right:10px; color:#13b6bc;}
.slide-nav ul li table td strong:after {content:""; position:absolute; top:50%; right:0; background:#13b6bc; width:1px; height:14px; transform:translateY(-50%);}
.slide-nav ul.depth-01 > li > table tr th {font-size:15px;}
.slide-nav ul.depth-01.active .depth-02 {display: block; transition: all .2s;}

.slide-nav ul.depth-02{display: none;}
.slide-nav ul.depth-03{display: none;}

/* 프린트용 */
.print-board tr th span {font-size:13px; font-weight:normal; display: block;}
.print-board tbody tr th {background:#f5f5f5; font-size:15px; padding:10px 20px; border-left:1px solid #e7e7ec;}
.print-board tbody tr td {padding:10px 20px;}
.print-board table tr th {background:#f9f9f9; padding:0; border-top:0; border-right:solid 1px #e7e7ec; border-left:solid 1px #e7e7ec; text-align:center;;}
.print-board table tr td {border-top:0;}
.print-board tr:last-child th {border-bottom:solid 1px #e7e7ec;}
.print-board table tr td {background: #fff; padding:10px 20px;}
.print-board table tr td:last-child{border-bottom:0;}


/* 설정페이지 */
.setting-box .title {font-size:17px; font-weight:bold; margin-bottom:15px;}
.setting-box .normal-list {padding:0; background:#fff; border-radius:5px; border:solid 1px #ddd; border-collapse:inherit;}
.setting-box .normal-list tr:first-child th, .setting-box .normal-list tr:first-child td {border-top:0;}
.setting-box .normal-list th {padding:15px 20px;}
.setting-box .normal-list th h4 {margin:0; font-size:14px; font-weight:bold; vertical-align:middle;}
.setting-box .normal-list th p {margin-top:5px; font-weight:normal;}
.setting-box .normal-list th span {font-weight: normal;}
.setting-box .normal-list td {position:relative;}
.setting-box .normal-list td button.btn-outline-success::before, .btn-left-bar::before {content:""; position:absolute; top:50%; left:-15px; background:#e7e7ec; width:1px; height:34px; transform:translateY(-50%);}

.setting-box .normal-list .table th {font-weight: normal; padding:10px; border-width: 1px;}
.setting-box .normal-list .table td {padding:10px; font-weight:normal;}

/* card-header */
/* .card-header {position:relative; margin:0 20px; padding:20px 0 10px; border-bottom:1px solid #e7e7e7;} */
.card-header h3 {margin:0; font-size:15px; font-weight:bold;}
.card-header h3.big {padding-bottom:5px; font-size:17px;}
.card-header h3.biger {padding-top:10px; padding-bottom:10px; font-size:20px;}
.icon-info-circle { font-size:16px; color:#13b6bc; margin-left:4px;}
.card-header .card-action.icon-plus {position:absolute; top:50%; right:10px; color:#13b6bc; font-size:20px; transform:translateY(-50%);}

.card-header.green {background:#13b6bc; margin:0; padding:0; color:#fff; font-size:17px;}
.card-header.green h3 {height:40px; padding:0 20px; line-height:40px; font-size:17px; font-weight:normal;}
.card-header.green .btn-wrap {position:absolute; top:50%; right:10px; transform:translateY(-50%);}
.card-header.green .card-actions {top:50%; width:auto; height:auto; margin:0; transform:translateY(-50%);}
.card-header.green .card-action {width:20px; height:20px; margin-left:10px;}
.card-header.green .card-actions .card-reload:before {font-size:20px;}
.card-header.green .card-actions .icon-plus:before{font-size:20px;}

.card-header .left-position {float:left;}
.card-header .left-position h3 {margin:0; margin-bottom:10px; font-size:16px; font-weight:bold;}
.card-header .right-position {position:absolute; right:0; bottom:8px;}
.card-header .right-position > * {vertical-align:middle; margin-left:4px;}

.card-header.no-title .left-position{position: absolute; left:0; bottom:8px;}
.card-header.no-title .right-position{position: static; float:right;}


/* 리스트그룹 */
/* 12 */
.list-group li {position:relative; font-size:15px; cursor:pointer;}
.list-group.list-group-divided li {border-bottom:1px solid #e7e7ec; transition:all 0.2s;}
.list-group.list-group-divided li:first-child {border-top:0;}
.list-group.list-group-divided li:last-child {border-bottom:1px solid #e7e7ec;}
.list-group li:hover , .list-group li:hover a {background:#fffced;}

.list-group li a:before {display:none;}
.list-group li button.icon-ellipsis-v {position:absolute; top:50%; right:0; font-size:15px; transform:translateY(-50%);}


/* 셀렉트 박스 크기 변경 */
.size-a {width:auto;}
.size-xxs {width:13%; min-width:160px;}
.size-xs {width:15%; min-width:200px;}
.size-s {width:30%; min-width:250px;}
.size-m {width:50%; min-width:300px;}
.size-l {width:70%;}
.size-50 {max-width:50px; margin:0 auto;}
.size-80 {max-width:80px; margin:0 auto;}
.size-100 {max-width:100px;}
.size-200 {max-width:200px;}

.size-xs-1 {width:8.333333% !important;}
.size-xs-2 {width:16.666667% !important;}
.size-xs-3 {width:25% !important;}
.size-xs-4 {width:33.333333% !important;}
.size-xs-5 {width:41.666667% !important;}
.size-xs-6 {width:50% !important;}
.size-xs-7 {width:58.333333% !important;}
.size-xs-8 {width:66.666667% !important;}
.size-xs-9 {width:75% !important;}
.size-xs-10 {width:83.333333% !important;}
.size-xs-11 {width:91.666667% !important;}
.size-xs-12 {width:100% !important;}




/* 컬러 색상 변경 */
.custom-control-primary .custom-control-input:checked ~ .custom-control-indicator {background-color:#13b6bc;}
.custom-control-primary .custom-control-input:active ~ .custom-control-indicator {background-color:#13b6bc;}

.pagination > li > a:focus , .pagination > li > a:hover , .pagination > li > span:focus , .pagination > li > span:hover {background-color:#13b6bc; border-color:#13b6bc;}
.pagination > .active > a , .pagination > .active > a:focus , .pagination > .active > a:hover , .pagination > .active > span , .pagination > .active > span:focus , .pagination > .active > span:hover {background-color:#13b6bc; border-color:#13b6bc;}

/* 버튼 커스텀 추가 */
.btn-basic , .btn-basic:hover , .btn-basic:active , .btn-basic:focus {min-width:85px; min-height:30px; padding:0 16px; box-sizing:border-box;}
.btn-link {color:inherit;}
.btn-link:focus , .btn-link:hover {background-color:transparent; color:inherit; outline:none;}
.btn-exl {margin-left:10px !important;}
.btn-exl:before {content:""; position:absolute; top:50%; left:-8px; background:#ddd; width:1px; height:60%; transform:translateY(-50%);}

/* 검색 체크 리스트 */
.checkbox-list {display:inline-block; margin-top:-7px; margin-bottom:0; padding:0; line-height:1; vertical-align:middle;}
.checkbox-list:after {content:""; display:block; clear:both;}
.checkbox-list li {float:left; margin-top:5px; margin-right:20px; list-style:none;}


/* bordercolor */
.border-color-f1 {border-color:#f1f1f1;}

/* 리스트스타일 */
.list-style-none {list-style:none;}


/* 폰트두께 */
.font-n {font-weight:normal;}

/* font-size */
.font-s13 {font-size:13px !important;}
.font-s14 {font-size:14px !important;}
.font-s15 {font-size:15px !important;}
.font-s16 {font-size:16px !important;}
.font-s17 {font-size:17px !important;}
.font-s18 {font-size:18px !important;}
/* .popup-close {font-size:24px !important; line-height:18px} */

/* box-shadow */
.shadow {-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3); box-shadow: 0 1px 3px rgba(0,0,0,.3);}

/* border-radius */
.round-box {border-radius:5px; overflow: hidden;}

/* backgruond */
.background-clear {background:none !important;}

/* datepicker */
.border-reverse {border-bottom-left-radius:0; border-top-left-radius:0; border-bottom-right-radius:4px !important; border-top-right-radius:4px !important;}









































































































/* color */
.color-blue {color: #007aa9;}

/* height */
.hv99 {height:99vh;}
.hv100 {min-height:100vh;}
.h50 {height:50px;}
